@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  color: #44375f;
  font-weight: 500;
}
.App{
  background-color: #f9f9f9;
}



.App .NavBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-height: 9.5vh;

  padding: 20px 50px;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.App .NavBar .NavLeft{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5vw;
}
.App .NavBar .NavLeft span{
  font-size: 1.5vw;
}
.App .NavBar .NavLeft .Search{
  outline: 2px solid #d0d0d0;
  height: 2.5vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0.5vw;
  border-radius: 2vw;
  width: 18vw;
  gap: 0.7vw;
  transition: 0.3s ease-in-out;
}
.App .NavBar .NavLeft .Search:focus-within{
  outline: 2px solid #000;
}
.App .NavBar .NavLeft input:focus{
  outline: none;
}
.App .NavBar .NavMiddle{
  padding-left: 7vw;
  display: flex;
  flex-direction: row;
  gap: 3.3vw;
}
.App .NavBar .NavRight{
  display: flex;
  flex-direction: row;
  gap: 1.5vw;
  align-items: center;
}
.App .NavBar .NavRight img{
  width: 2.5vw;
  height: 2.5vw;
}
.icons{
  font-size: 1.5vw;
}

/* HOME */
/* HOME */
/* HOME */




/* FILTER */
/* FILTER */
/* FILTER */



/* CHATBOT */
/* CHATBOT */
/* CHATBOT */
